body{
    background-color:  #2c3e50;
   
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(75, 73, 73);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.center:hover {
    color: gray;
}

#navbar {
    background-color: #2c3e50;
    padding: 20px;
    text-align: enter;
    margin: auto;
    align-self: auto;
    align-content: center;
}

h1 {
    color: #ffffff;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin: auto;
    
}

h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin: 15px;
    border-bottom: 1px solid #ccc!important;
    border-color: #2c3e50;
    padding: 10px;
}

/* .btn-primary {
    background-color: #2c3e50;
    border-color: #2c3e50;
    margin: auto;
    top: auto;
    left: auto;
    position: relative;
    text-align: center;
    font-size: 25px;
} */

.btn-link {
    margin-left: 20px;
    color: #ffffff;
}

.card-text {
    background-color: #2c3e50;
    padding-top: 10px;
    padding-bottom: 10px;
}

a, p {
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.jumbotron {
    margin: auto;
    background-color: cadetblue;
}

form {
    color: #ffffff;
    
}

label {
    margin-right: 10px;
}

.img {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.img-fluid {
    max-height: 150px;
    margin: auto;
}

#navButton {
    margin: 5px;
}

tbody {
    background-color: white;
    font: #2c3e50;
}
/* @media only screen and (max-width: 320px) {

    body { 
       font-size: 2em; 
    }
 
 } */