.btn-primary {
    background-color: #2c3e50;
    /* margin-right: 40px;
    margin-top: 30px;  */
    position: relative;
    text-align: center;
    font-size: 25px;
    border-style: double;
    border-color: white;
    margin-bottom: 50px;
}
.col-auto {
    margin-top: 10px; 
}